{% extends 'store/base.html' %}
{% block title %}Welcome{% endblock %}

{% block content %}
<style>
    .hero {
        text-align: center;
        padding: 60px 20px;
        background: linear-gradient(135deg, #1F3864, #2E75B6);
        color: white;
        border-radius: 10px;
        margin-bottom: 40px;
    }
    .hero h1 {
        font-size: 42px;
        margin-bottom: 10px;
    }
    .hero p {
        font-size: 18px;
        color: #cce0ff;
    }
    .cards {
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .card {
        background: white;
        border-radius: 12px;
        box-shadow: 0 4px 20px rgba(0,0,0,0.1);
        padding: 40px 30px;
        text-align: center;
        width: 250px;
        transition: transform 0.3s, box-shadow 0.3s;
        text-decoration: none;
        color: #333;
    }
    .card:hover {
        transform: translateY(-8px);
        box-shadow: 0 8px 30px rgba(0,0,0,0.15);
        text-decoration: none;
    }
    .card .icon {
        font-size: 50px;
        margin-bottom: 15px;
    }
    .card h2 {
        font-size: 22px;
        margin-bottom: 10px;
        color: #1F3864;
    }
    .card p {
        font-size: 14px;
        color: #888;
    }
    .card.products { border-top: 5px solid #2E75B6; }
    .card.products h2 { color: #2E75B6; }

    .card.contact { border-top: 5px solid #e67e22; }
    .card.contact h2 { color: #27ae60}

    .card.logout { border-top: 5px solid #e74c3c; }
    .card.logout h2 { color: #e74b6c}
</style>

<div class="hero">
    <h1> Welcome to Our Store</h1>
    <p>KNOW THE AVAILABLE BEFORE LEAPING</p>
</div>

<div class="cards">
    <a href="{% url 'product_list' %}" class="card products">
        <div class="icon"></div>
        <h2>Products</h2>
        <p>Browse all our available products and their prices in KSh</p>
    </a>

    <a href="{% url 'contact' %}" class="card contact">
        <div class="icon"></div>
        <h2>Contact Us</h2>
        <p>Get in touch with us for any questions or support</p>
    </a>
    {%if user.is_authenticated %}
    <a href="{% url 'user_logout' %}" class="card logout">
        <div class="icon"></div>
        <h2>Logout</h2>
        <p>Goodbye {{ user.username }}! Click here to logout</p>
    </a>
    {% else %}
    <a href="{% url 'user_login' %}" class="card logout">
        <div class="icon"></div>
        <h2>login</h2>
        <p>Login to your account </p>
    </a>
    {% endif %}
</div>
{%endblock%}